<%- include ../partials/header.ejs %>
<section class="wrapper-all">
<h2>Welcome aboard <%= member.name %>!</h2>

<p>You can view a list of all ports <a href="/ports">here</a>. If you do not see the one you are looking for, feel free to add it.</p>
<a href="/ports/new">Add A Port</a><br>

<p>You can create an itinerary to store all of your upcoming ports in one location.</p><br>
<a href="/itineraries/new">Create New Itinerary</a><br>



    
<a href="/itineraries">View Your Saved Itineraries</a>
</section>  
<%- include('../partials/footer') %>