<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
      <a href="/auth/google">Login With Google</a>
      <a href="/logout">Log Out</a>
    </nav>
    <h2><%= member.name %></h2>
    <p>This is your member page!</p>
    <h3>Saved Itineraries</h3>
    <a href="/itineraries/new">Create New Itinerary</a>
    <a href="/ports">View Ports</a>
    <a href="/ports/new">Add A Port</a>
    
    <!-- have a form to search for a port -->
</body>
</html>