<!DOCTYPE html>
<html>
  <head>
    <title>Port Side</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lato&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
      <main>
        <div id="landing-title-wrapper">
          <h1 id="landing-title">PORT-SIDE</h1>
        </div>
        <div id="landing-blurb-wrapper">
          <p id="landing-blurb">Internet on ships is expensive and slow. Don't waste time and money trying to plan your next day in port. View each port here to find the nearest seaman's center, coffee shops with fast WiFi, and where to go for a nice lunch. If you know a great spot, help your fellow crew members by posting to the location page. Enter your itinerary to save a list of your upcoming ports.</p>
        </div>
      </main>
      <div id="link-wrapper">
      <a href="/auth/google" id="landing-login">LOGIN WITH GOOGLE</a>
      </div>
    </section>
  </body>
</html>

