<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/auth/google">Login With Google</a>
      <a href="/logout">Log Out</a>
    </nav>
    <main>
      <h1>Port-Side</h1>
      <p>Internet on ships is expensive and slow. Don't waste time and money trying to plan your next day in port. View each port here to find the nearest seaman's center, coffee shops with fast WiFi, and where to go for a nice lunch. If you know a great spot, help your fellow crew members by posting to the location page. Enter your itinerary to save a list of your upcoming ports.</p>
    </main>
  </body>
</html>