<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Port Side</title>
        <link rel='stylesheet' href='/stylesheets/reset.css' />
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <section class="wrapper-all">
        <nav>
            <div class="logo">
                <p>PORT-SIDE</p>
            </div>
            <div class="nav-links">
                <a class="nav-a" href="/logout">Log Out</a>
                <a class="nav-a" href="/members/index">Profile</a>
                <a class="nav-a" href="/ports/">All Ports</a>
                <a class="nav-a" href="/itineraries">All Itineraries</a>
            </div>
        </nav>
        <article class="content-wrapper">
            <h1>AVAILABLE PORTS</h1>
            <div id="port-index">
                <ul>            
                    <% ports.forEach(function(p) { %>
                        <li>
                            <%= p.location %>
                            <a class="in-li" href="/ports/<%= p._id %>">Details</a>
                        </li>
                    <% }); %>
                </ul>
            </div>    
            <div class="add-port-btn">
                <a class="add-port-a" href="/ports/new">Add A Port</a>
            </div>   
        </article>
        </section>
    </body>
</html>